<div class="wrapper">
<div class="room" [ngClass]="{received: received}">
  <div class="room__description">
    <div class="room__name">
      <ul class="names" [ngClass]="{opened, busy: roomState.occupied, not_busy: !roomState.occupied}">
        <div class="names__arrows">
          <span></span>
          <span></span>
        </div>
        <li class="name">
          <a class="name__link selected" href="" id="orange" (click)="selectRoom($event)">
            Оранжевая переговорка
          </a>
        </li>
        <li class="name">
          <a class="name__link" href="" id="green" (click)="selectRoom($event)">
            Зелёная переговорка
          </a>
        </li>
        <li class="name">
          <a class="name__link" href="" id="red" (click)="selectRoom($event)">
            Красная переговорка
          </a>
        </li>
        <li class="name">
          <a class="name__link" href="" id="yellow" (click)="selectRoom($event)">
            Желтая переговорка
          </a>
        </li>
      </ul>
    </div>
    <div class="room__state" [ngClass]="{busy: roomState.occupied}">
      <div *ngIf="received" class="room__status" @opacity>
        {{ roomState.occupied ? 'Занято' : 'Свободно' }}
      </div>
      <div *ngIf="roomState.occupied && received" class="about" @opacity>
        <div class="about__name">
          {{ roomState.name }}
        </div>
        <div class="about__phone">
          {{ roomState.phone }}
        </div>
        <div class="about__time">
          {{ roomState.start }}-{{ roomState.end }}
        </div>
      </div>
    </div>
  </div>

  <div class="room__calendar calendar">
    <div class="calendar__wrapper">
      <div class="calendar__days days">
        <div class="days__day day" *ngFor="let dayName of daysNames; let i = index">
          <div @opacity class="day__name">{{dayName}}</div>
          <button
            class="day__date"
            [ngClass]="{today: states[i] === 'today', previous: states[i] === 'previous', future: states[i] === 'future', selected: i === selected}"
            (click)="changeMeetings(i)"
          >
            <div *ngIf="received" @opacity>
              {{ days[i].getDate() }}
            </div>
          </button>
        </div>
      </div>

      <div class="calendar__meetings">
        <app-meeting></app-meeting>
      </div>
    </div>
    <div @opacity class="decor decor__1">
      <img src="assets/img/decor/1.svg" alt="">
    </div>
    <div @opacity class="decor decor__2">
      <img src="assets/img/decor/7.svg" alt="">
    </div>
    <div @opacity class="decor decor__3">
      <img src="assets/img/decor/3.svg" alt="">
    </div>
  </div>
</div>
</div>
