<div class="decor">
  <div class="left-fly">
    <div @left>
      <img src="assets/img/decor/1.svg">
    </div>
    <div @left>
      <img src="assets/img/decor/2.svg" alt="">
    </div>
    <div @left>
      <img src="assets/img/decor/3.svg" alt="">
    </div>
    <div @left>
      <img src="assets/img/decor/4.svg" alt="">
    </div>
  </div>

  <div class="right-fly">
    <div @right>
      <img src="assets/img/decor/5.svg" alt="">
    </div>
    <div @right>
      <img src="assets/img/decor/6.svg" alt="">
    </div>
    <div @right>
      <img src="assets/img/decor/7.svg" alt="">
    </div>
    <div @right>
      <img src="assets/img/decor/8.svg" alt="">
    </div>
  </div>

  <div class="up-fly">
    <div @up>
      <img src="assets/img/decor/9.svg" alt="">
    </div>
    <div @up>
      <img src="assets/img/decor/10.svg" alt="">
    </div>
    <div @up>
      <img src="assets/img/decor/11.svg" alt="">
    </div>
    <div @up>
      <img src="assets/img/decor/12.svg" alt="">
    </div>
  </div>
</div>
