<div class="login" *ngIf="visible; else loading" @pass>
    <div class="code">
        <div class="code-wrap">
            {{ code }}
        </div>
    </div>
    <div class="text">
        <div>
            Для доступа к календарям перейдите по ссылке и введите код
        </div>
    </div>
    <a [href]="link" target="_blank" class="redirect">
    <span class="redirect-text" *ngIf="visible">Предоставить доступ</span>
    </a>
</div>

<ng-template #loading>
  <div class="loading">
    <div>Идет загрузка</div>
    <img src="assets/img/login/load.gif" alt="" width="20" height="20">
  </div>
</ng-template>
